<center><div class="page-header">
    <font color="gray" size ="6" face = "Baskerville Old Face">創業長期來看是風險最低職業選擇。</font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
        </font>
  </center>

<h2>編輯 <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :mobile, :required => true, :autofocus => true, :placeholder => "請輸入手機號碼。" %>
    <%= f.input :address, :required => true, :autofocus => true, :placeholder => "106台北市大安區建國難..."%>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "若不更改請留空白", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "需要你目前的密碼來完成確認", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "更新" %>
  </div>
<% end %>

<h3>取消帳號</h3>

<p>不開心嗎? 可否寫EMAIL罵客服就好，但不要走好嗎？ <%= link_to "取消帳號", registration_path(resource_name), :data => { :confirm => "確定嗎?" }, :method => :delete %></p>

<%= link_to "上一頁", :back %>
