<!DOCTYPE html>
<html>
<font color="#5CA5FF" size ="6" face = "Baskerville Old Face">
<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face"> Toast To The Moon Shooters!</font>

<% if user_signed_in? %>

<% else %>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
        </font>
      </i>
    </h1>
  </center>

<% unless user_signed_in? %>
 <head>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

<% content_for :head do %>
    <meta property="fb:app_id"          content="162938820570764" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://labDISRUPT.herokuapp.com" /> 
    <meta property="og:title"           content="labDISRUPT" /><meta property="og:description"     content="lab DISRUPT - 给所有科技，網路，商業，創業中朋友的網站。 A site for Tech, Business & Entrepreneurs." /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7325/9846289694_cefa43521b_o.png" /> 
<% end %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>

</head>

<body>
 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=162938820570764";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="center hero-unit">
   <center>  <div class="flex-ad widescreen"><iframe width="560" height="315" src="//www.youtube.com/embed/SswMzUWOiJg" frameborder="0" allowfullscreen></iframe></center>
  <hr>

  <div id="myCarousel" class="carousel slide">
   <ol class="carousel-indicators"></ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
  <div class="active item"><a href="" title="Flickr 上 mattwusta 的 6"><img src="http://farm8.staticflickr.com/7325/9846289694_cefa43521b_o.png" width="1400" height="300" alt="6"></a></div>

  <div class="item"><a href="http://starsworthy.herokuapp.com" title="Flickr 上 mattwusta 的 1"><img src="http://farm8.staticflickr.com/7436/9845940293_4009235084_o.png" width="1400" height="390" alt="1"></a></div>

  <div class="item"><a href="http://www.chef29.com" title="Flickr 上 mattwusta 的 3"><img src="http://farm6.staticflickr.com/5333/9845939993_410a6636ec_o.png" width="1400" height="480" alt="3"></a></div>

    <div class="item"><a href="https://vimeo.com/59646203" title="Flickr 上 mattwusta 的 4"><img src="http://farm8.staticflickr.com/7447/9846135304_dc9a1a4264_o.png" width="1400" height="390" alt="4"></a></div>

    <div class="item"><a href="http://www.youtube.com/watch?v=1iQGiFwhH_c" title="Flickr 上 mattwusta 的 5"><img src="http://farm6.staticflickr.com/5469/9846225523_b8030751fc_o.png" width="1400" height="390" alt="5"></a></div>

  </div>
  <!-- Carousel nav -->
 
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>


<p> 
 <font color = "white"> <%= link_to '註冊 ', new_user_registration_path, class: "btn btn-large btn-primary" %></font>
</p>
<div class="fb-like" data-href="http://labdisrupt.herokuapp.com" data-width="450" data-show-faces="true" data-send="true"></div>
</div>
<% end %>
</body>

<% if user_signed_in? %>
 
 <% else %>
  <form style="#ccc;padding:3px;text-align:center;" action="https://tinyletter.com/labdisrupt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/starsworthy', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><label for="tlemail"> <font  size="5" face = "Baskerville Old Face"></font></label><input type="text" style="width:320px" name="email" id="tlemail" placeholder="訂閱lab DISRUPT: 關於科技，創業的最新消息！" /></p><input type="hidden" value="1" name="embed"/><a href="https://tinyletter.com" target="_blank"></a></p></form>
 <% end %>
  
<% if user_signed_in? %>
  <% else %>
    <hr>
  <% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44224325-1', 'labdisrupt.herokuapp.com');
  ga('send', 'pageview');

</script>
</html>