<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/give" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- Buy 1 Give 1 買 1 捐 1" />
    <meta property="og:description"     content="每當您在Chef 29購買一份餐，Chef29會捐一份餐或如同一份餐的金額给家福基金會。" /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7396/9738744161_df5121ba63_o.png" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>


<center><div class="page-header">
<center><font color="#5CA5FF" size ="6" face = "Baskerville Old Face"> BUY 1 GIVE 1</font> <font color=gray size ="6" face = "Baskerville Old Face"> - 買 1 捐 1  </font>
 
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face">Living A Life Of Purpose - 過著有意義的人生</font></i></center>
 <hr>

</center>

<body>
  <div class="center hero-unit">
  <h3> <font size= "6" color="#5CA5FF"> Begining</font>-開始. </h3>
    <br>
   <center> <iframe width="700" height="480" src="//www.youtube.com/embed/D_I8D3trLZs" frameborder="0" allowfullscreen></iframe><center>
<br>

<p><h3><font color="#5CA5FF">DO GOOD </font>&<font> 作善事</h3></p>

<p> 
<font color = "white"> <%= link_to '買 1 捐 1', inform_path, class: "btn btn-large btn-success" %></font>
</p>
</div>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> THE  PROBLEM  -  問題 </font>

<center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >請協助我們對需要幫助的人產生正面的影響,</font></i></center>
<hr>
<%=image_tag("give.png", alt: "give", :size => '1000x490')%>

<hr>
<center><font color = "gray" size ="6" face = "Baskerville Old Face"> WE WANT TO HELP  - 我們想幫忙 </font>
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >但我們只是剛起步的小小 Startup, 所以計劃這麼作...</font></i></center>
 
<hr>

<%=image_tag("plan.png", alt: "give", :size => '1050x490')%>
<center><font color = "white" > <%= link_to '買 1 捐 1', inform_path, class: "btn btn-large btn-success" %></font></center>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> CHARITIES  - 捐贈機構 </font>
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >因人手不足，Chef29 暫時只能仰賴這些機構代各位行善，有天...</font></i></center>
<hr>


<%=image_tag("Charity.png", alt: "charity", :size => '800x490')%>
<hr>

<center><font color="#5CA5FF" size ="6" face = "Baskerville Old Face"> BUY 1 GIVE 1</font> <font color=gray size ="6" face = "Baskerville Old Face"> - 買 1 捐 1  </font>
 
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face">Living A Life Of Purpose - 過著有意義的人生</font></i></center>

 <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "googleplus", "blogger", "wordpress", "baidu"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

</html>

