<!DOCTYPE html>
<html>
 
<head>
  <%= @fblike %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <title>lab DISRUPT - 為人類更美好的未來，破壞式的創新，一個有關科技，新創事業，創業的網站!</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>
  
<body>
  <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

<%= yield %>
    <%= render 'layouts/footer' %>
      </div>
</body>
  <hr>
  

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=423703477734650";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "googleplus", "baidu", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
<br>
<div class="row-fluid">
        <div class="span4" style="border-right: 1px solid #ccc; "><font size = "5"><center><b><%= link_to "lab DISRUPT",'http://labdisrupt.herokuapp.com', {:style => 'color: #8c8c8c'}%></b></font>
            <br><br>
            <%= link_to "NewzWorthy 值得新聞",'http://newzworthy.herokuapp.com', {:style => 'color: #8c8c8c'}%>
            <br><br>
             <%= link_to "TheChefStars 主廚之星",'http://www.thechefstars.com', {:style => 'color: #8c8c8c'}%>
             <br><br>
              <%= link_to "Chef29 今晚大廚",'http://www.chef29.com', {:style => 'color: #8c8c8c'}%>
             <br><br>
               <%= link_to "Guru$大師 - video",'https://vimeo.com/59646203', {:style => 'color: #8c8c8c'}%>
             <br><br>
               <%= link_to "VOYAGE TAIWAN - video",'http://www.youtube.com/watch?v=DI4Z9x9nW6w', {:style => 'color: #8c8c8c'}%>
               <br></center>
          </div>

<div class="span4"style="border-right: 1px solid #ccc;" ><center> <%= link_to "",'http://www.youtube.com/watch?v=DI4Z9x9nW6w', {:style => 'color: #8c8c8c'}%>
            
             <br><br>
            <p><b><font size="6" color="#4D90FE">訂閱 lab DISRUPT</font><P>
            <p><font size="2" color="#4D90FE">有關科技，商業，創業的最新訊息</P>
            <br>
                <form style="#ccc;padding:3px;text-align:center;" action="https://tinyletter.com/labdisrupt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/starsworthy', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><label for="tlemail"> <font  size="5" face = "Baskerville Old Face"></font></label><input type="text" style="width:250px" name="email" id="tlemail" placeholder="Your EMAIL here!" /></p><input type="hidden" value="1" name="embed"/><a href="https://tinyletter.com" target="_blank"></a></p></form>

              <br>
               
            </div>


          <div class="span4"><center><%= link_to "",'http://www.youtube.com/watch?v=DI4Z9x9nW6w', {:style => 'color: #8c8c8c'}%>
            
             <br><br>
           <font size="4"> <%= link_to "Contact Us 聯絡我們",contact_path, {:style => 'color: #8c8c8c'}%></font>
            <br><br><br>
             <font size="4"> <%= link_to "Service 服務條款",service_path, {:style => 'color: #8c8c8c'}%></font>
             <br><br><br>
              <font size="4"><%= link_to "Privacy 隱私權政策",privacy_path, {:style => 'color: #8c8c8c'}%></font>
            </center>
             </div>
          

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44224325-1', 'labdisrupt.herokuapp.com');
  ga('send', 'pageview');

</script>
</html>

